[data-menu="mobile"] {
  display: none;
}

@media (max-width: 700px) {
  [data-menu="mobile"] {
    display: block;
    padding: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 35px;
    cursor: pointer;
    position: relative;
    z-index: 300;
    transition: transform 0.3s;
  }
  [data-menu="mobile"].active {
    transform: rotate(90deg);
  }

  #menu {
    display: none;
    position: absolute;
    background: #fb5;
    width: 160px;
    z-index: 200;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  #menu.active {
    display: block;
    animation: show-down 0.3s forwards;
  }

  .dropdown-menu {
    position: static;
    border: none;
  }
}
